body {
	padding-top: 325px;
}
input[placeholder="search contact..."] {
	margin: 8px 0 0 0;
}
input[type="file"] {
	margin: 6px 0 6px 0;
}
nav {
	border-radius: 0 0 10px 10px !important;
}
td {
	vertical-align: middle !important;
}
th {
	text-align: center;
}
.navbar-fixed-top {
	background: white;
}
.shadow {
	border-radius: 5px;
	box-shadow: 0px 15px 20px -12px rgba(0,0,0,0.75);
}
.form-group {
	margin-bottom: 7px;
}